/* colors
Light green :#7ed56f
medium green: #55c57a
Dark green: #28b485  */

* {
  margin: 0;
  padding: 0;
  /* padding and border are no longer added to total width and height 
  to the specified box module */
  box-sizing: border-box;
}

body {
  /* we are taking advantage of the inheritance
    usually the properties that related to the font are inherit 
    this is why are putting it in the body tag  */
  font-family: Lato, "sans-serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh;
  /* the linear-gradient goes on the top and the img goes on the bottom */
  background-image: linear-gradient(to top right, #7ed56f8f, #18c68c9c),
    url("../img/hero.jpg");
  /* it always try to fit the element inside the box */
  background-size: cover;
  /* when resize the img the top img still the same but the bottom of it gets
  slightly chopped */
  background-position: top;

  clip-path: polygon(
    /* top left */ 0% 0%,
    /* top right */ 100% 0%,
    /*bottom left*/ 100% 75vh,
    /*bottom right*/ 0 100%
  );
  position: relative;
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}
.logo {
  height: 35px;
}
.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-box button {
  width: 200px;
  color: red;
  height: 30px;
  padding: 10px 20px;
  text-transform: uppercase;
}
.heading-primary {
  color: #fff;
  text-transform: uppercase;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
}
