.row {
  // one of the standard is to write the width of the page
  //   width: 114rem; this not what we want we need max-width:;
  max-width: $grid-width;
  //   what is the difference between width and max-width ?
  // max-width will improve the browser's handling of small sizes windows. this is a important
  // when making a site usable on small devices.

  // check the main readme , i wrote about the difference between width and max-width
  background-color: #eee;
  margin: 0 auto; // to center block element inside another element
  margin-bottom: $gutter-vertical;
  &:last-child {
    margin-bottom: 0px;
  }
}

// notice above that the max-width and margin-bottom are great candidate for being variables
// in the future we may change them
