// header is not gonna be a component , it gonna be on every page.
// this is we didn't include it in the component.
// but if you like to consider it as a component that you are correct as .
.header {
  height: 95vh;
  width: 100%;
  /* 
    the linear-gradient goes on the top 
    and the img goes on the bottom
     */

  // in regular css we cant use hexadecimal color with rgba
  //   and then opacity but with sass we can do this
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../img/hero.jpg");
  /* it always try to fit the element inside the box */
  background-size: cover;
  /* when resize the img the top img still the same but the bottom of it gets
    slightly chopped */
  background-position: top;

  clip-path: polygon(
    /* top left */ 0% 0%,
    /* top right */ 100% 0%,
    /*bottom left*/ 100% 75vh,
    /*bottom right*/ 0 100%
  );
  /* position: relative; */
  //   & the ampersand is equal to whatever is the parent
  //   in our case here & = .header
  &__logo-box {
    position: absolute;
    /* rem is measured relative to the document's root font-sie */
    top: 4rem;
    left: 4rem;
  }
  &__logo {
    height: 3.5rem;
  }
  &__text-box {
    position: absolute;

    /* these properties are for the parent element */
    top: 40%;
    left: 50%;
    /* translate is for the element itself  */
    transform: translate(-50%, -50%);
    text-align: center;

    /* you can achieve to center everything into the text-box by using the flex box */
    /* display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; */
  }
}
